@font-face {
    font-family: main-sans;
    src: local(Linux Biolinum),
        local(LinBiolinum),
        url('/fonts/LinBiolinum_Rah.ttf');
    font-display: swap;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #1f1e33;
    font-family: main-sans, sans-serif;
}

h1 {
    font-size: calc(30px + 0.5vw);
    font-weight: bold;
    color: #6ca7e2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: main-sans, sans-serif;
}

p {
    font-size: calc(14px + 0.2vw);
    font-weight: normal;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

a {
    color: #91c1ff;
}

#body-main {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#navbar {
    width: 100%;
    z-index: 10000;
    margin: 0px;
    padding: 0px;
    background-color: #343261;
    top: 0 !important;
    left: 0 !important;
    position: sticky !important;
    box-sizing: border-box;
}

#navbar > ul {
    display: flex;
    list-style-type: none;
    max-width: 50em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#navbar > ul > li {
    height: 50px;
    max-width: 10em;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#navbar li:hover{
    background-color: rgb(161, 24, 0);
}

#navbar li a, #navbar li .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(16px + 0.3vw);
}

#navbar .dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.418);
    z-index: 1;
}

#navbar .dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navbar .dropdown-content a:hover {
    background-color: rgb(207, 207, 207)
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#navbar .active {
    background-color: #5658c7;
}

#navbar .active:hover {
    background-color: #5a30be !important;
}

button a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}


#landing {
    color: #fff;
    margin: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    height: 80vh !important;
    display: flex;
    flex-direction: row;
    padding: 0 4vw;
    margin-top: 0px;
    margin-bottom: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
